# Force correct language detection
*.php linguist-language=PHP
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.sql linguist-language=SQL

# Ignore dependency folders
vendor/* linguist-vendored
node_modules/* linguist-vendored

# Ignore database dumps from language statistics
database/* linguist-detectable=false